* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  width: 100%;
  padding:0;
  position:relative;
}


#button {
  position:absolute;
  top: 20px;
  right: 0px;

}
.icon-bar {
  background-color: #fff;
}

#header-nav {
  background-color: #999;
  padding: 15px 20px 15px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  position:relative;
}


h1 {
  margin: 10px 15px;
}


h2 {
  margin: 20px;

}
.container-chicken {
  background-color: #999;
  margin-top: 40px;
}
h3 {
  font-size: 1.5em;
  padding-top: 5px;

}

h4 {
  border-top: 1px solid black;
  padding: 5px;
  margin:0;

}

.visible-xs :first-child {
  border-top: none;
}
.visible-xs :last-child {
  border-bottom: 1px solid black;
}

h4 {
  display: none;
}


p {
  padding: 5px 15px 20px;

}
